Source: consort-session
Section: gnome
Priority: extra
Maintainer: Ikey Doherty <ikey.doherty@gmail.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Homepage: http://consort.solusos.com/

Package: consort-session
Architecture: all
Depends: gnome-session-bin, gnome-session-common, consortium
Description: Consort Desktop Session
 This package contains the required components for the Consort Desktop
 session, using Consort Panel and the Consortium Window Manager. It
 can be started from a display manager such as GDM, and doesn't have
 specific hardware requirements.
